<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172434219129-0jav7ffd15vh5vo3vl2e0hsq6qdqcg8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172434219129-0jav7ffd15vh5vo3vl2e0hsq6qdqcg8o</string>
	<key>API_KEY</key>
	<string>AIzaSyDoXzk1BEk2XdhVtFMzH_kXiraFFo7mhGk</string>
	<key>GCM_SENDER_ID</key>
	<string>172434219129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hecThor.CloudSecureLogin</string>
	<key>PROJECT_ID</key>
	<string>authenticationcloud-2b40c</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationcloud-2b40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172434219129:ios:8ac87bc2f3bb44325374a8</string>
	<key>DATABASE_URL</key>
	<string>https://authenticationcloud-2b40c.firebaseio.com</string>
</dict>
</plist>